.contact-form__content{
    width: 45%;
    margin: 10px auto;
    text-align: center;
}
.contact-form__heading{
    margin: 30px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}
.input__label{
    font-size: smaller;
}
.required__tag{
    background-color: #ddd;
    margin-left: 10px;
}

.input__item{
    width: 70%;
    text-align: left;
}
.form-input{
    width: 100%;
    height: 40px;
}

.form-textarea{
    width: 70%;
    min-height: 200px;
    appearance: none;
    padding: 10px;
}
.submit-btn{
    appearance: none;
    background-color: black;
    color: white;
    width: 200px;
    margin-top: 30px;
    height: 40px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.error-message{
    height: 20px;
    color: red;
    margin: 0;
    margin-top: 5px;
}